* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

nav {
  background-color: #333;
  overflow: hidden;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

nav a:hover {
  background-color: #575757;
}

.hero {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToV6AeAGjafklwyOTmhFuAR_pzUUH3CtjoTg&s")
    no-repeat center center/cover;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero h1 {
  font-size: 3rem;
}

footer {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (max-width: 600px) {
  .hero h1 {
    font-size: 2rem;
  }
}
